
/* Header */


header{
	width:100%;
	position:fixed;
	z-index:500;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.062);
	border-bottom: solid;
	border-width: 1px;
	border-color: #ffffff3d;
}


header .top-header{
    width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	background: #292836;
}

header .top-header .top-inner-div{
    width: 85%;
    max-width: 1200px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .top-header .top-inner-div .left-div {
    display: flex;
    align-items: center;
    gap: 20px;
    color:var(--white-color);
	font-size: 14px;
	font-family: body-font;
}

header .top-header .top-inner-div .left-div span i{
    color:var(--secondary-color);
	font-size: 16px;
    margin-right: 5px;
}


header .top-header .top-inner-div .right-back-div{
    display: flex;
    gap: 20px;
	height: 100%;
    align-items: center;
}

header .top-header .top-inner-div .right-back-div span{
    color: var(--white-color);
	font-size: 14px;
	cursor: pointer;
}

header .top-header .top-inner-div .right-back-div span:hover{
	color: var(--secondary-color);
	text-decoration: underline;
}

header .top-header .top-inner-div .right-back-div .right-div{
    display: flex;
    gap: 20px;
	height: 100%;
    background-color: #0000005C;
    align-items: center;
    padding: 0px 15px;
}

header .top-header .top-inner-div .right-back-div .right-div ul{
	margin:0px;
	padding:0px;
	display: flex;
	align-items: center;
}

header .top-header .top-inner-div .right-back-div .right-div ul li{
	width: 40px;
	color:var(--white-color);
	list-style:none;
	text-align: center;
	font-size: 15px;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}


header .top-header .top-inner-div .right-back-div .right-div ul li:hover{
	color:var(--secondary-color);
}




/* Main Header */

header .main-header-in-div{
    width: 85%;
	max-width: 1200px;
	min-height: 80px;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

header .main-header-in-div .logo-div img{
    width:150px;
	cursor:pointer;
}

header .main-header-in-div nav ul{
    padding: 0px;
	margin: 0px;
    display: flex;
	gap: 10px;
    align-items: center;
}

header .main-header-in-div nav ul li{
    display: flex;
    align-items: center;
	list-style:none;
	color: var(--white-color);
	font-size:14px;
	padding: 8px 15px;
	border-radius: 3px;
	font-family: body-font;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}

header .main-header-in-div nav ul li:hover{
	background: rgba(255, 255, 255, .3);
   -moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

header .main-header-in-div nav ul li i{
	margin-left: 5px;
	font-size: 13px;
}

header .main-header-in-div nav ul .active{
	color: var(--white-color);
	background: rgba(255, 255, 255, .3);
}


header .main-header-in-div .btn-div{
	display: flex;
    align-items: center;
	gap: 10px;
}

header .main-header-in-div .btn-div .btn{
	border:none;
	border-radius: 4px;
	height:40px;
	padding: 0px 35px;
	color:#FFF;
	font-size:14px;
	font-family: body-font;
    background: var(--secondary-color);
	transition: 0.3s ease-in;
	cursor:pointer;
}

header .main-header-in-div .btn-div .btn i{
	margin-right: 5px;
	font-size: 16px;
}

header .main-header-in-div .btn-div .btn:hover{
	background: var(--hover-color);
}


header .main-header-in-div .btn-div .mobile-btn{
	height:42px;
	width:42px;
	display:none;
	background: var(--secondary-color);
	border: none;
	border-radius: 5px;
	color: var(--white-color);
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	cursor:pointer;
}

header .main-header-in-div .btn-div .mobile-btn i{
	font-size: 25px;
}

header .main-header-in-div .btn-div .mobile-btn:hover{
	background: var(--body-color);
}


header  .main-header-in-div nav ul li.read-more{
	display:none;
}

@media all and (max-width: 1230px) {
    header .main-header-in-div nav ul li.faq,
	header .main-header-in-div nav ul li.contact-us{
        display: none;
    }
}

@media all and (max-width: 1230px) {
    header .main-header-in-div nav ul li.read-more{
		display: flex;
		align-items: center;
		list-style:none;
		color: var(--white-color);
		font-size:14px;
		padding: 8px 15px;
		border-radius: 3px;
		font-family: body-font;
		-moz-transition:all 0.2s ease-in 02s;
		transition:all 0.2s ease-in 0.2s;
		-webkit-transition:all 0.2s ease-in 0.2s;
		-ms-transition:all 0.2s ease-in 0.2s;
		-o-transition:all 0.2s ease-in 0.2s;
		cursor:pointer;
	}
}


@media all and (max-width:1150px) {
	header .main-header-in-div nav ul{
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: space-around;
	}
}

#expand-div .sub-div {
	position:absolute;
	min-width:250px;
	min-height:50px;
	background:#FFF;
	display:none;
	color:#666;
	border-radius:5px;
	box-shadow:0px 2px 12px 1px rgba(0,0,0,.1);
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	top: 105px;
	padding: 10px 20px;
}


#expand-div .sub-div .ul-class {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
}
#expand-div .sub-div .li{
	color: var(--primary-color);
	width: 100%;
	padding: 5px 8px;
}
#expand-div .sub-div .li:hover{
	color: var(--secondary-color);
}
#expand-div .sub-div #li:hover{
	background:none;
}

#expand-div:hover:before{
	opacity:1;
}

#expand-div:hover .sub-div{
	display:block;
}


/* Slide section */
.slide-div{
	position: absolute;
	width: 100%;
	height: calc(100% - 170px);
	padding-top: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	top:0px;
}

.slide-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.699);
    z-index: 1;
}

.slide-div > * {
    position: relative;
    z-index: 2; 
}


.slide-div .content-back-div{
	width: 70%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slide-div .content-back-div .text-content-div{
	width: 90%;
	height: auto;
	display:flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	padding-top: 50px;
	gap: 10px;
}

.slide-div .content-back-div .text-content-div h1{
	padding: 0px;
	margin: 0px;
	color: var(--white-color);
	font-size: 55px;
	min-height: 140px;
	line-height: 65px;
	text-align: center;
	font-family: title-font;
	text-shadow: 5px 5px 10px  #000;
} 

.slide-div .content-back-div .text-content-div p{
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.slide-div .content-back-div .text-content-div h1 .type-text{
	color:var(--secondary-color);
}

.slide-div .content-back-div .text-content-div .slide-bottom-back-div{
	padding: 20px;
	display: flex;
	gap: 25px;
	border-radius: 5px;
}


.slide-div .content-back-div .text-content-div .slide-bottom-back-div .slide-bottom-div{
	background: var(--white-color);
	display: flex;
	justify-content: space-between;
	gap: 5px;
	border-radius: 3px;
}


.slide-div .content-back-div .text-content-div .slide-bottom-back-div .slide-bottom-div .icon-div{
	width: 45px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--secondary-color);
	border-radius: 3px 0px 0px 3px;
}


.slide-div .content-back-div .text-content-div .slide-bottom-back-div .slide-bottom-div .icon-div i{
	font-size: 20px;
}

.slide-div .content-back-div .text-content-div .slide-bottom-back-div .slide-bottom-div .text-div{
	background: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 15px;
	border-radius: 3px;
}

.slide-div .content-back-div .text-content-div .slide-bottom-back-div .slide-bottom-div .text-div p{
	padding: 0px;
	margin: 0px;
	color: var(--text-color);
	font-size: 15px;
}



.index-content-div{
	position: absolute;
    top: 100%;
	right: 0px;
	left: 0px;
}



.body-div{
    width: 100%;
	padding: 40px 0px;
    display: flex;
    justify-content: center;
} 

.body-div .body-div-in{
   width: 85%;
   max-width: 1200px;
   min-height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}




/* Body-div */

.title-div{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.title-div span{
    font-family: allura-font;
	font-size: 30px;
	font-weight: 900;
	color: var(--secondary-color);
}

.title-div h2{
    text-align: center;
	font-family: title-font;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
	color: var(--primary-color);
}

.title-div p{
	color: var(--text-color);
	text-align: center;
}

.house-list-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
	margin-top: 30px;
	gap: 20px;   
}

.house-list-div .house-cont{
	position: relative;
    width: 30%;
    min-height: 450px;
    background: #F2F4F4;
    border-radius:10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.house-list-div .house-cont .status-div{
    position: absolute;
    padding: 5px 12px;
    background: var(--secondary-color);
    border-radius:5px;
	color: var(--white-color);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: body-font;
    margin: 15px 12px;
    z-index: 100;
}

.house-list-div .house-cont .image-div{
	width: 100%;
	height: 240px;
	border-radius:10px 10px 0px 0px;
	overflow: hidden;
}

.house-list-div .house-cont .image-div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius:10px 10px 0px 0px;
	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}

.house-list-div .house-cont:hover .image-div img{
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	transform: scale(1.10);
}

.house-list-div .house-cont .text-div{
	display: flex;
}


.house-list-div .house-cont .text-div .text-inner-div{
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.house-list-div .house-cont .text-div .text-inner-div h2{
	font-family: sub-title-font;
    font-size: 20px;
	color: var(--primary-color);
	padding: 0px;
	margin: 0px;
}

.house-list-div .house-cont .text-div .text-inner-div p{
	padding: 0px;
	margin: 0px;
	color: var(--text-color);
	text-align: justify;
}

.house-list-div .house-cont .text-div .text-inner-div .bottom-div{
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
	border-top: #d6d6d6 1px solid;
	margin-top: 8px;
}

.house-list-div .house-cont .text-div .text-inner-div .bottom-div h4{
	padding: 0px;
	margin: 0px;
	color: var(--primary-color);
	font-family: sub-title-font;
}

.house-list-div .house-cont .text-div .text-inner-div .bottom-div h4 span{
	color: var(--text-color);
	font-family: body-font;
	font-size: 14px;
}

.house-list-div .house-cont .text-div .text-inner-div .bottom-div .btn{
	border: none;
	background: none;
	padding: 0px;
	height: 0px;
	color: var(--secondary-color);
	cursor: pointer;
	font-family: sub-title-font;
}

.house-list-div .house-cont .text-div .text-inner-div .bottom-div .btn:hover{
	text-decoration: underline;
}